<!DOCTYPE html>

<html>
    <head>
        <title>Underrated Music</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body class="w3-container w3-dark-gray w3-mobile">
		<header>
			<h1 class="w3-center"><i class="fa fa-resistance w3-text-red">&nbsp;</i>Underrated Music.com&nbsp;<i class="fa fa-resistance w3-text-red"></i></h1>
			<h2 class="w3-border-bottom">Find &amp; Share your Favorite <i>Unknown</i> Bands</h2>
			<div class="w3-bar w3-large">
			  <a href="/" class="w3-bar-item w3-button w3-hover-text-white w3-hover-none w3-border-black w3-bottombar w3-hover-border-white w3-mobile">Home</a>
			  <a href="/list" class="w3-bar-item w3-button w3-hover-text-white w3-hover-none w3-border-black w3-bottombar w3-hover-border-white w3-mobile">Explore</a>
			  <a href="/submit" class="w3-bar-item w3-button w3-hover-text-white w3-hover-none w3-border-black w3-bottombar w3-hover-border-white w3-mobile">Share</a>
			  <a href="/faq" class="w3-bar-item w3-button w3-hover-text-white w3-hover-none w3-border-red w3-bottombar w3-hover-border-white w3-mobile">FAQ</a>
			</div>
		</header>
		<p></p><p></p>
		<span class="w3-tag w3-xlarge w3-padding w3-red" style="transform:rotate(-5deg)">
			FAQ
		</span>
		<p></p>

		<div class="w3-panel w3-sand">
			<p class="w3-text-red"><b>How do I listen to the bands?</b></p>
			<p class="w3-container"><i class="fa fa-arrow-right" aria-hidden="true"></i><b> Once you get a band name, you can use Youtube or Deezer for free and good quality listening.</b></p>
		</div>

		<div class="w3-panel w3-sand">
			<p class="w3-text-red"><b>Why should I click on heart <span class="fa fa-heart w3-hover-text-white"></span> icon if I like a band?</b></p>
			<p class="w3-container"><i class="fa fa-arrow-right" aria-hidden="true"></i><b> Bands can be submitted by everybody. A like system helps pushing to the top excellent music and purging less interesting ones.</b></p>
		</div>

		<div class="w3-panel w3-sand">
			<p class="w3-text-red"><b>What are the rules for submitting a band?</b></p>
			<ol class="w3-ul">
				<b>
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i> The band must be almost unknown, by exemple under a few thousands followers on Deezer.</li>
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i> Check quickly if it hasn't already been submitted (using ctrl+f).</li>
					<li><i class="fa fa-arrow-right" aria-hidden="true"></i> Write a small commentary : what you think makes this band excellent, which album to get started, etc.</li>
				</b>
			</ol>

		</div>

		<div class="w3-panel w3-sand">
			<p class="w3-text-red"><b>why do I <i>a b s o l u t e l y</i> need to bookmark this website?</b></p>
			<p class="w3-container"><i class="fa fa-arrow-right" aria-hidden="true"></i><b> Because you'll soon run out of new good music to discover !</b></p>
		</div>

	</body>
</html>
